../compilation_output/*
../compilation_input/*
../dt_dwnld/*
../test_results/*
../../gmet/compilation_output/*
../../gmet/test/*
../../integrated/compilation_input/*
../../integrated/compilation_output/*
../../nuclear/compilation_output/*
